*{padding: 0; margin: 0; border: 0;}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html{scroll-behavior: smooth;}
input,button,textarea{font-family: inherit; font-size: inherit; color: inherit; background: none;}

input::-ms-clear{display: none;}
button{cursor: pointer; background: none;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:hover, a:visited{text-decoration: none;}
ul, menu{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 500;}

body{
  background: #e4f5ff;
  color: var(--color-black);
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background: var(--color-white);
}
body::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 5px;
}

/* Стили контейнеров */
.container{width: 100%; max-width: 740px; margin: 0 auto; padding: 0;}

/* Переменные */
:root{
  --color-white: #FFFFFF;
  --color-black: #383838;
  --color-text-gray: #818181;
  --color-white-shadow: #E5E5E5;
  --color-blue: #a4dff0;
  --color-bg-gray: #F1F1F1;
}